/* --- INVENTAIRE & SLOTS --- */
.item-slot {
    width: 52px;
    height: 52px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.item-slot:hover {
    background: rgba(99, 179, 237, 0.1);
    border-color: #63b3ed;
    transform: scale(1.05);
}

.item-illegal {
    border-color: #f56565 !important;
    box-shadow: inset 0 0 10px rgba(245, 101, 101, 0.2);
}

.item-tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background: #111;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 10px;
    white-space: nowrap;
    z-index: 100;
    border: 1px solid #333;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.item-slot:hover .item-tooltip {
    visibility: visible;
}

/* --- FOUILLE ALERTE --- */
.shakedown-active {
    animation: danger-pulse 0.5s infinite alternate;
}

@keyframes danger-pulse {
    from { background-color: #0a0a0c; }
    to { background-color: #2d0000; }
}

/* --- SCROLLBAR --- */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #000; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 10px; }
